<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather app</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="src/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="weatherapp">
        <footer>
          <div class="row">
            <div class="col-6">
          <form id="form">
            <input type="text" placeholder="Enter city" autocomplete="off" id="search"/>
          </div>
            <div class="col-3">
            <input type="submit" value="search" id="submit-form"/>
            </div>
          </form>
          <div class="col-3">
            <button type="button" class="btn btn-secondary"
            id="current">current</button>
          </div>
        </div>
      <h1>
        Location
      </h1>
      <ul>
        <li class="date">
          Thursday
        </li>
        <li class="time">
          11:53 Am
        </li>
      </ul>
      
      <div class="row">
        <div class="col-6">
        <div id="ho">
          <img src="img/cloud+rain.jpg">
          <span id="cTemp">__ </span> <span id="C">°C </span> | <a href="#" id="fTemp"> °F </a>
        </div>
        </div>
        <div class="col-6">
          <ul>
            <li>
                <span>H:</span><span id="h">__</span><span>°C</span>
            </li>
            <li>
                <span>L:</span><span id="L">__</span><span> °C</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    </div>
    
    </div>
</div>
    <script src="src/index.js"></script>
    </body>
</html>
